@* _FooterPartial.cshtml *@

<style>
    .minimal-footer {
        background-color: #f9f9f9;
        text-align: center;
        padding: 10px;
        font-size: 14px;
        color: #666;
        box-shadow: 0 -1px 4px rgba(0,0,0,0.1);
    }
    .social-links a {
        margin: 0 5px;
        color: #666;
        text-decoration: none;
        transition: color 0.2s;
    }
    .social-links a:hover {
        color: #845ec2;
    }
</style>

<footer class="minimal-footer">
    <div>
        © 2025 LUMI Library Management System - Designed by Halenur İncedere
    </div>

    <div class="social-links">
        <a href="https://github.com/halenurincedere/" target="_blank">
            <i class="bi bi-github"></i> GitHub
        </a>
        <a href="https://www.hackerrank.com/profile/halenurincedere" target="_blank">
        <i class="bi bi-code-slash"></i> Hackerrank
        </a>
        <a href="https://linkedin.com/in/Halenurincedere/" target="_blank">
            <i class="bi bi-linkedin"></i> LinkedIn
        </a>
    </div>
</footer>